*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

/*-----------------------Entete----------------------------*/
#entete, nav , #menu-panier{
    display: flex;
}
#entete{
    height: 10vh;
    width: 98%;
    background-color: rgba(0,0,0,0.801);
    gap: 500px;
    padding: 30px 50px 50px 50px;
    left: 1%;
    margin-bottom: 30px;
    margin-left: 20px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    border-bottom-left-radius:6px ;
    border-bottom-right-radius: 6px;
}


.titre{
   font-size: 35px;
   color: white;
}

#entete nav a {
    text-decoration: none;
    padding-left: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

#entete nav a:hover {
    color: blueviolet;
    transform: scale(1.09);
}
#entete nav {
    display: flex;
    align-items: center;
}
#entete nav a.home {
    color: rgb(248, 136, 136);
    font-weight: 40px;
}
 /*Menu panier*/
#menu-panier {
    position: relative;
    display: flex;
  }

  #contenu-panier {
    display: none;
    position: absolute;
    margin-top: 35px;
    left: 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 300px;
    z-index: 100;
  }
  #entete div a {
    transition: transform 0.3s ease;
  }
  #entete div a:hover {
    transform: scale(1.05);
    color: blueviolet;
    font-weight: 40px;
  }

  #menu-panier:hover #contenu-panier {
    display: block;
  }

#menu-panier  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
  }



/*Bloc 2*/
#two-bloc{
    display: flex;
    gap: 1px;
    margin-top:40px ;
}
.left  {
    height: 600px;
    width: 60%;
    margin: auto;
    left: 1%;
}
.right{
   height: 600px;
   width: 38%;
   margin: auto 2%;
}
/*Les slidesShow de notre site*/
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  }

.slide {
    display: none;
    position: relative;
  }
  
.slide img {
    width: 500px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 60px;
    object-fit: cover; /* Garde l’image entière sans la couper */
  }
  
.caption {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
  }

  /*La parties sur le newlettre*/

.description{
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;
    height: 41%;
}
.fieldset-description{
    margin: 10px;
}
.fieldset-description p
{
    font-size: 19px;
    text-align: justify;
    line-height: 1.5;
    padding: 5px;
}
.description h3{
    margin-top: 20px;
    font-size: 20px;
}
legend{
    font-size: 20px;
    font-weight: bold; 
}

form{
    border: 4px solid #f1f1f1;
    border-radius: 10px;
    height: 58%;
    width: 100%;
}

.titre-lettre, .info-lettre, h3{
    text-align: center;
}
.titre-lettre{
    font-size: 32px;
}
.info-lettre{
    padding-top: 12px;
}
.container-formu{
    padding: 20px;
    background-color: #f1f1f1;
}
input[type=text], input[type=submit] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }

input[type=submit]:hover {
    opacity: 0.8;
  }

/*-------------------les trois blocs objectif, mission et valeur------------------*/

#one-bloc {
    display: flex;
    width: 95%;
    background-color: rgb(255, 255, 255);
    height: 35vh;
    margin: 30px 30px 100px 40px;
    right: 2%;
    padding: 60px 20px;
    gap: 35px;
    border-radius: 8px;
}
#one-bloc .objectif {
    width: 33%;
}
#one-bloc .objectif h3 {
    text-align: center;
    margin: 10px;
}
#one-bloc .objectif fieldset {
    padding: 30px;
    box-shadow: 4px 4px 12px rgba(56, 55, 55, 0.6);
}
#one-bloc .objectif fieldset span {
    font-weight: bolder;
}



/*----------bloc4 rang-1--------------*/

h1 {
    text-align: center;
}

.rang-1 {
    display: flex;
    width: 96%;
    gap: 80px;
    margin: 25px 0 100px 0px;
    margin-left:150px ;
}
.rang-1 .produit-rang-1{
    width: 14%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 5px;
}
.rang-1 .produit-rang-1 img {
    box-shadow: 4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 5px;
}

.rang-1 .produit-rang-1 p {
    text-align: center;
}
.rang-1 .produit-rang-1 p button {
    background-color:rgb(68, 226, 231) ;
    border-radius: 6px;
    padding: 5px;
}

/*-------------------------------Bloc 4 de la structure rang2---------------------------------*/

.rang-2 {
    display: flex;
    width: 96%;
    gap: 80px;
    margin: 25px 0px;
    margin-left:150px ;
}
.rang-2 .produit-rang-1 {
    width: 14%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
    
    }
.rang-2 .produit-rang-1 button{
    padding: 5px;
    background-color: rgb(68, 226, 231);
    border-radius: 6px;
}

/*-----------------pour les bouton d'achat, de commande et de livraison-------------------*/

div .container-image{
    text-align: center;
}
.rang-2 .produit-rang-1 img{
    box-shadow:  4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
}


/*---------------produits tandances--------------------*/

.marque {
    display: flex;
    width: 96%;
    gap: 140px;
    margin: 40px 0 100px 0;
    margin-left:150px ;
}
.marque .contenair{
    width: 16%;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
}
.marque .contenair button {
    padding: 5px;
    background-color: rgb(68, 231, 223);
    border-radius: 6px;
   }
   .marque .contenair img{
    box-shadow:  4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
   }
/*------------------- les bouton de livraison, de commande et d'achat ---------------------*/
#three-bloc {
    display: flex;
    width: 30%;
    gap: 40px;
    text-align: center;
}

#three-bloc .trois-bloc {
    width: 12vw;
    height: 20vh;
    margin-left: 60%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;
}
#three-bloc .trois-bloc img {
    display: block;
    width: 100px;
    height: 80px;
    border-radius: 8px;
    margin: 10px 35px;
    box-shadow: 4px 4px 12px rgba(56, 55, 55, 0.6);
    transition: transform 0.3s ease;
}
#three-bloc .trois-bloc img:hover{
    transform: scale(1.05);
}
#three-bloc .trois-bloc h3 {
 margin-left: 20px;
 text-align: center;
 margin: 0 30px;
}

 /*--------------------le pieds de la page---------------------------*/
#footer {
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.801);
    gap: 20px;
}
#footer .racourcis a {
    text-decoration: none;
    color: white;
    padding: 15px 0;
    margin: 10px;
    font-size: 18px;
}
#footer .racourcis a:hover{
    color: blueviolet;
}
#footer .racourcis .elmnt_racourcis {
    display: inline-block;
    padding: 30px;
}
#footer .adresse a {
    text-decoration: none;
    color: rgb(209, 172, 172);
    padding: 15px;
}
#footer .adresse a:hover{
    color: blueviolet;
}
#footer h3{
    color: white;
    padding: 15px 0;
    text-align: center;
}
#footer .racourcis {
    display: block;
    width: 25%;
    padding: 40px 0;
}
#footer .adresse {
    width: 25%;
    padding: 40px 0;
}
#footer .confi {
    overflow: hidden;
    width: 25%;
    height: 100%;
    padding: 40px;
}
#footer .compte {
    width: 25%;
    padding: 40px 0;
}
#footer .compte a {
    text-decoration: none;
    color: rgb(209, 172, 172);
    padding: 15px;
    transition: transform 0.3s ease;
}
#footer .compte a:hover {
    color: blueviolet;
    transform: scale(1.05);
}
#footer p {
    overflow: hidden;
    color: white;
    margin: 15px;

}


