*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

/* Entete */

#entete{
    display: flex;
    height: 10vh;
    width: 98%;
    background-color: gray;
    gap: 1000px;
    padding: 30px 50px 50px 50px;
    left: 1%;
    margin-bottom: 30px;
    margin-left: 20px;
}

.titre{
   font-size: 35px;
   color: white;
}

li{
    list-style: none;
    display: inline;
    margin-top: 50px;
}
a {
    text-decoration: none;
    padding-left: 50px;
    color: white;
}


/* Bloc 2*/
#two-bloc{
    display: flex;
    gap: 20px;
}
.left  {
   height: 200px;
    width: 54%;
    background-color: blue;
    margin-left: 130px;
}
.right{
   height: 200px;
   width: 30%;
   background-color: blue;
    
}

#one-bloc {
    width: 95%;
    background-color: blue;
    height: 10vh;
    margin: 30px 30px 0 40px;
    right: 2%;
}
h1 {
    text-align: center;
}

.rang-1 {
    display: flex;
    width: 96%;
    gap: 40px;
    margin: 25px 0px;
    margin-left:40px ;
}
.rang-1 .produit-rang-1{
    width: 18%;
    height: 20vh;
    background-color: blue;
}


/*-------------------------------Bloc 4 de la structure rang2---------------------------------*/
.rang-2 {
    display: flex;
    width: 96%;
    gap: 40px;
    margin: 25px 0px;
    margin-left:40px ;
}
.rang-2 .produit-rang-1 {
    width: 18%;
    height: 30vh;
    background-color: rgb(217, 217, 228);
    box-shadow: 4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
    
    }
.rang-2 .produit-rang-1 button{
    padding: 5px;
    background-color: rgb(68, 226, 231);
    border-radius: 6px;
}

div .container-image{
    text-align: center;
}
.rang-2 .produit-rang-1 img{
    box-shadow:  4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
}


/*---------------produits tandances--------------------*/

.marque {
    display: flex;
    width: 96%;
    gap: 40px;
    margin: 25px 0px;
    margin-left:40px ;
}
.marque .contenair{
    width: 23%;
    height: 30vh;
    background-color: rgb(217, 217, 228);
    box-shadow: 4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
}
.marque .contenair button {
    padding: 5px;
    background-color: rgb(68, 226, 231);
    border-radius: 6px;
   }
   .marque .contenair img{
    box-shadow:  4px 4px 12px rgba(56, 56, 56, 0.6);
    border-radius: 6px;
   }

.three-bloc {
    display: flex;
    width: 30%;
    background-color: rgb(196, 196, 218);
    gap: 30px;
}
#footer {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
}
#footer h1{
    color: white;
    text-align: center;
    padding: 30px 0;
}
